// prism-okadia
code[class*='language-'],
pre[class*='language-'] {
  margin: 1.5em 0;
  line-height: 1.2 !important;
  letter-spacing: 0.03rem !important;
  border-radius: 0.2rem !important;
  text-shadow: none !important;
}
:not(pre) > code {
  padding: 0.1rem 0.3rem !important;
  color: $color_black;
  background-color: $color_silver;
}
