@charset "UTF-8";
/*
 * For browser viewing:
 * load this style in Web publications (format: webpub)
 */
/* common styles */
/*
 * For all media (print, screen)
 */
/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

code[class*='language-'],
pre[class*='language-'] {
  margin: 1.5em 0;
  line-height: 1.2 !important;
  letter-spacing: 0.03rem !important;
  border-radius: 0.2rem !important;
  text-shadow: none !important;
}

:not(pre) > code {
  padding: 0.1rem 0.3rem !important;
  color: #34495e;
  background-color: #ecf0f1;
}

:root {
  font-family: 'Neue Frutiger World', 'Verdana', 'Yakumono', 'body',
    'Hiragino Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-feature-settings: 'palt', 'calt';
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #9b59b6;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

p {
  font-feature-settings: 'calt';
  text-align: justify;
}

pre {
  margin: 1.5rem 0;
  box-decoration-break: clone;
}

ul,
ol {
  padding-inline-start: 1.5em;
}

figure {
  margin: 1.5rem auto;
  text-align: center;
}
figure img {
  max-width: 100%;
  margin: 0.5rem auto;
}
figure figcaption {
  margin: 0.5rem auto;
  width: 90%;
  font-size: 90%;
  break-inside: avoid;
}
figure img[src$='.png'],
figure img[src$='.jpg'],
figure img[src$='.jpeg'],
figure img[src$='.gif'],
figure img[src$='.webp'] {
  image-resolution: 200dpi;
}

table {
  display: table;
  max-width: 100%;
  margin: 1.5rem auto;
  border-color: currentColor;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.25rem 1rem 0.25rem 0;
  background-color: transparent;
  border: 0;
}
table th:first-child,
table td:first-child {
  padding-left: 1rem;
}
table th {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
table tr {
  box-shadow: 0 0.7px 0 -0.3px currentColor;
}
table tr:last-child {
  border-bottom: 1px solid;
}

blockquote {
  margin: 1.5rem 0.5rem;
  background-color: #ecf0f1;
  padding: 0.5em 1em;
  border-radius: 0.2rem;
}
blockquote :not(pre) > code {
  padding: 0;
  word-break: break-all;
}

.page-break {
  page-break-after: always !important;
}

body {
  counter-reset: section subsection fig tbl footnote cite;
}

a[data-ref='sec'],
a[data-ref='subsec'],
a[data-ref='fig'],
a[data-ref='tbl'],
a[data-ref='cite'] {
  text-decoration: none;
  color: inherit;
  margin: 0 0.15em;
}

a[data-ref='sec']::before {
  content: '§' target-counter(attr(href), section);
}

a[data-ref='subsec']::before {
  content: '§' target-counter(attr(href), section) '.'
    target-counter(attr(href url), subsection);
}

a[data-ref='fig']::before {
  content: 'Fig. ' target-counter(attr(href), fig);
}
:root:lang(ja) a[data-ref='fig']::before {
  content: '図' target-counter(attr(href), fig);
}

a[data-ref='tbl']::before {
  content: 'Table ' target-counter(attr(href), tbl);
}
:root:lang(ja) a[data-ref='tbl']::before {
  content: '表' target-counter(attr(href), fig);
}

a[data-ref='cite']::before {
  content: '[' target-counter(attr(href), cite) ']';
}

section {
  counter-increment: section;
  counter-reset: subsection;
}
section article {
  counter-increment: subsection;
}

figure.fig {
  counter-increment: fig;
}
figure.fig figcaption::before {
  content: 'Fig. ' counter(fig) ': ';
}
:root:lang(ja) figure.fig figcaption::before {
  content: '図' counter(fig) ': ';
}

figure.tbl {
  counter-increment: tbl;
}
figure.tbl figcaption::before {
  content: 'Table ' counter(tbl) ': ';
}
:root:lang(ja) figure.tbl figcaption::before {
  content: '表' counter(tbl) ': ';
}

.footnote {
  counter-increment: footnote;
}
.footnote::footnote-call,
.footnote::footnote-marker {
  content: '[' counter(footnote) ']';
}
.footnote::footnote-call {
  font-size: 80%;
  margin: 0 0.3rem;
}
.footnote::footnote-marker {
  margin-right: 0.2rem;
}

ol.cite-items {
  padding-left: 2rem;
  list-style: none;
}
ol.cite-items li {
  counter-increment: cite;
  position: relative;
}
ol.cite-items li::before {
  content: '[' counter(cite) '] ';
  position: absolute;
  left: -2rem;
}

@media screen {
  body {
    margin: auto 4rem;
    padding-bottom: 4rem;
  }

  article {
    margin: 0 auto;
    max-width: 60rem;
  }

  section {
    clear: both;
  }

  figure {
    max-width: 50rem;
  }

  .footnote {
    vertical-align: super;
    background-color: rgba(214, 255, 0, 0.4);
    margin: 0 0.1rem;
    line-height: 0;
  }
  .footnote a {
    word-break: break-all;
  }

  a[data-ref='sec'],
  a[data-ref='subsec'],
  a[data-ref='fig'],
  a[data-ref='tbl'],
  a[data-ref='cite'] {
    color: #e74c3c;
    background-color: rgba(255, 0, 0, 0.3);
  }

  a[data-ref='sec']::before {
    content: '§ XXX';
  }

  a[data-ref='subsec']::before {
    content: '§ XXX.XXX';
  }

  a[data-ref='fig']::before {
    content: 'Fig. XXX';
  }
  :root:lang(ja) a[data-ref='fig']::before {
    content: '図 XXX';
  }

  a[data-ref='tbl']::before {
    content: 'Table XXX';
  }
  :root:lang(ja) a[data-ref='tbl']::before {
    content: '表 XXX';
  }

  a[data-ref='cite']::before {
    content: '[XXX]';
  }
}
@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 75%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }

  tr,
  th,
  td {
    break-inside: avoid;
  }

  .footnote {
    float: footnote;
    text-align: left;
  }
}
@page {
  size: 182mm 257mm;
  margin-top: 25mm;
  margin-bottom: 33mm;
  @top-left-corner {
    content: '';
    margin-bottom: 4mm;
    margin-top: -3mm;
    margin-left: -3mm;
  }
  @top-center {
    content: '';
    margin-bottom: 4mm;
    margin-top: -3mm;
    margin-left: -1mm;
    margin-right: -1mm;
    padding-left: 1mm;
    padding-right: 1mm;
  }
  @top-right-corner {
    content: '';
    margin-bottom: 4mm;
    margin-top: -3mm;
    margin-right: -3mm;
  }
  @bottom-left-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-left: -3mm;
    background-color: #ffffff;
    z-index: 1000;
  }
  @bottom-right-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-right: -3mm;
    background-color: #ffffff;
    z-index: 1000;
  }
}
@page :left {
  font-family: 'Neue Frutiger World', 'Verdana', 'Yakumono', 'body',
    'Hiragino Sans', sans-serif;
  margin-left: 18mm;
  margin-right: 35mm;
  @top-center {
    content: env(pub-title);
    font-size: 75%;
    text-align: left;
    padding: 12mm 2mm 0 2mm;
  }
  @bottom-left {
    content: counter(page);
    margin-top: 15mm;
    margin-bottom: -3mm;
    padding: 0 2mm 15mm 2mm;
  }
}
@page :right {
  font-family: 'Neue Frutiger World', 'Verdana', 'Yakumono', 'body',
    'Hiragino Sans', sans-serif;
  margin-left: 35mm;
  margin-right: 18mm;
  @top-center {
    content: env(doc-title);
    font-size: 75%;
    text-align: right;
    padding: 12mm 2mm 0 2mm;
  }
  @bottom-right {
    content: counter(page);
    margin-top: 15mm;
    margin-bottom: -3mm;
    padding: 0 2mm 15mm 2mm;
  }
}
nav#toc,
nav[role='doc-toc'] {
  break-before: page;
  font-size: 120%;
}
nav#toc li a::after,
nav[role='doc-toc'] li a::after {
  content: target-counter(attr(href), page);
}
nav#toc li a,
nav[role='doc-toc'] li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  align-items: baseline;
}
nav#toc li a::before,
nav[role='doc-toc'] li a::before {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: solid 1px;
  content: '';
  order: 1;
  flex: auto;
}
nav#toc li a::after,
nav[role='doc-toc'] li a::after {
  text-align: right;
  content: target-counter(attr(href), page);
  align-self: flex-end;
  flex: none;
  order: 2;
}

/* and more... 🖋 */
/* for wide screen */
body {
  max-width: 800px;
  margin: 2rem auto 2rem;
}

/* highlight footnote */
.footnote {
  vertical-align: super;
  background-color: aliceblue;
  color: gray;
}
.footnote a {
  word-break: break-all;
}

/* and more... 🖋 */

/*# sourceMappingURL=theme_screen.css.map */
